{% extends 'base.html.twig' %}

{% block title %}Cliente{% endblock %}

{% block body %}
    <h1>Cliente</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cliente.id }}</td>
            </tr>
            <tr>
                <th>Rut</th>
                <td>{{ cliente.rut }}</td>
            </tr>
            <tr>
                <th>Nombres</th>
                <td>{{ cliente.nombres }}</td>
            </tr>
            <tr>
                <th>Apellidos</th>
                <td>{{ cliente.apellidos }}</td>
            </tr>
            <tr>
                <th>Domicilio</th>
                <td>{{ cliente.domicilio }}</td>
            </tr>
            <tr>
                <th>Telefono1</th>
                <td>{{ cliente.telefono1 }}</td>
            </tr>
            <tr>
                <th>Telefono2</th>
                <td>{{ cliente.telefono2 }}</td>
            </tr>
            <tr>
                <th>Celular</th>
                <td>{{ cliente.celular }}</td>
            </tr>
            <tr>
                <th>Email1</th>
                <td>{{ cliente.email1 }}</td>
            </tr>
            <tr>
                <th>Email2</th>
                <td>{{ cliente.email2 }}</td>
            </tr>
            <tr>
                <th>Representante</th>
                <td>{{ cliente.representante }}</td>
            </tr>
            <tr>
                <th>Relacion</th>
                <td>{{ cliente.relacion }}</td>
            </tr>
            <tr>
                <th>RazonSocial</th>
                <td>{{ cliente.razonSocial }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('mantenedores_clientes_index') }}">back to list</a>

    <a href="{{ path('cliente_editar', {'id': cliente.id}) }}">edit</a>

{% endblock %}
