{% extends 'layout.html.twig' %}

{% block title %}{{parent()}} - Unidades{% endblock %}

{% block content %}
<div class="content-wrapper">
   <!-- Content Header (Page header) -->
   <div class="content-header">
      <div class="container-fluid">
         <div class="row mb-2">
            <div class="col-sm-6">
               <h1 class="m-0">Unidades</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
               <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">Dashboard</a></li>
                  <li class="breadcrumb-item active">Unidades</li>
               </ol>
            </div><!-- /.col -->
         </div><!-- /.row -->
      </div><!-- /.container-fluid -->
   </div>
   <!-- /.content-header -->

   <!-- Main content -->
   <div class="content">
      <div class="container-fluid">
         <div class="row">
            {% for message in app.flashes('unidad_success') %}
               <div class="col-12">
                  <div class="card card-success">
                  <div class="card-header">
                     <h3 class="card-title">¡Exitoso!</h3>

                     <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                        </button>
                     </div>
                     <!-- /.card-tools -->
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                     {{message}}
                  </div>
                  <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
               </div>
            {% endfor %}
            <a href="{{ path('unidades_nuevo') }}" class="btn btn-app bg-success">
               <i class="fas fa-plus"></i> Nuevo
            </a>
            <div class="col-12">
               <div class="card card-primary">
                  <div class="card-header">
                     <h3 class="card-title">Filtros</h3>
                  </div>
                  {{form_start(formFiltro)}}
                     <div class="card-body">
                        <div class="row">
                           <div class="col-2">
                              <div class="form-group">
                                 {{ form_row(formFiltro.tipoUnidad) }}
                              </div>
                           </div>
                           <div class="col-2">
                              <div class="form-group">
                                 {{ form_row(formFiltro.edificio) }}
                              </div>
                           </div>
                           <div class="col-2">
                              <div class="form-group">
                                 {{ form_row(formFiltro.piso) }}
                              </div>
                           </div>
                           <div class="col-2">
                              <div class="form-group">
                                 {{ form_row(formFiltro.unidad) }}
                              </div>
                           </div>
                           <div class="col-2">
                              <div class="form-group">
                                 {{ form_row(formFiltro.estado) }}
                              </div>
                           </div>
                           <div class="col-2">
                              <div class="form-group">
                                 <label>&nbsp;</label>
                                 {{ form_row(formFiltro.filtrar) }}
                              </div>
                           </div>
                        </div>
                     </div>
                  {{ form_end(formFiltro) }}
                  <!-- /.card-body -->
               </div>
            </div>
            <div class="col-12">
               <div class="card">
                  <div class="card-header">
                     <h3 class="card-title">Listado de Unidades - {{ unidades.getTotalItemCount }} elementos</h3>

                     {# <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Buscar">

                        <div class="input-group-append">
                           <button type="submit" class="btn btn-default">
                              <i class="fas fa-search"></i>
                           </button>
                        </div>
                        </div>
                     </div> #}
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body table-responsive p-0">
                     <table class="table table-hover text-nowrap">
                        <thead>
                        <tr>
                           <th>{{ knp_pagination_sortable(unidades, 'Tipo Unidad', 't.nombre') }}</th>
                           <th>{{ knp_pagination_sortable(unidades, 'Edificio', 'c.nombre') }}</th>
                           <th>{{ knp_pagination_sortable(unidades, 'Piso', 'u.piso') }}</th>
                           <th>{{ knp_pagination_sortable(unidades, 'Unidad', 'u.unidad') }}</th>
                           <th>{{ knp_pagination_sortable(unidades, 'Estado', 'u.estado') }}</th>
                           <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                           {% for unidad in unidades %}
                              <tr>
                                 <td>{{ unidad.tipoUnidad }}</td>
                                 <td>{{ unidad.edificio }}</td>
                                 <td>{{ unidad.piso }}</td>
                                 <td>{{ unidad.unidad }}</td>
                                 <td>{{ unidad.estado ? 'Activo' : 'Inactivo' }}</td>
                                 <td>
                                    <a href="{{ path('unidades_ver', {'id': unidad.id}) }}" class="btn btn-app bg-secondary">
                                       <i class="fas fa-clipboard-check"></i> Ver Detalle
                                    </a>
                                    <a href="{{ path('unidades_editar', {'id': unidad.id}) }}" class="btn btn-app bg-primary">
                                       <i class="fas fa-edit"></i> Editar
                                    </a>
                                    <form method="post" style='display:inline' action="{{ path('unidades_delete', {'id': unidad.id}) }}" onsubmit="return confirm('¿Seguro que desea borrar la unidad seleccionada?');">
                                       <input type="hidden" name="_method" value="DELETE">
                                       <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ unidad.id) }}">
                                       <button class="btn btn-app bg-danger"><i class="fas fa-trash"></i>Borrar</button>
                                    </form>
                                 </td>
                              </tr>
                           {% else %}
                              <tr>
                                 <td colspan="6">No hay registros para mostrar</td>
                              </tr>
                           {% endfor %}
                        </tbody>
                     </table>
                  </div>
                  <div class="card-footer clearfix">
                     {{ knp_pagination_render(unidades) }}
                  </div>
                  <!-- /.card-body -->
               </div>
               <!-- /.card -->
            </div>
         </div>
         <!-- /.row -->
      </div><!-- /.container-fluid -->
   </div>
   <!-- /.content -->
</div>
{% endblock %}
