{% extends 'layout.html.twig' %}

{% block title %}{{parent()}} - Unidades{% endblock %}

{% block content %}
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0">Agregar Unidad</h1>
					</div>
					<!-- /.col -->
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item">
								<a href="{{ path('dashboard') }}">Dashboard</a>
							</li>
							<li class="breadcrumb-item">
								<a href="{{ path('mantenedores_unidades_index') }}">Unidades</a>
							</li>
							<li class="breadcrumb-item active">Agregar Unidad</li>
						</ol>
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /.content-header -->

		<!-- Main content -->
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<div class="card card-primary">
							<div class="card-header">
                			<h3 class="card-title">Agregar Unidad</h3>
              			</div>
							{{ form_start(form) }}
							<div class="card-body">
								<div class="row">
									<div class='col-md-6'>
										{{ form_row(form.conjunto) }}
										{{ form_row(form.piso) }}
										{{ form_row(form.unidad) }}
										{{ form_row(form.tipoUnidad) }}
										{{ form_row(form.estado) }}
									</div>
									<div class='col-md-6'>
										{{ form_row(form.datosUnidad.metros2) }}
										{{ form_row(form.datosUnidad.dormitorios) }}
										{{ form_row(form.datosUnidad.banios) }}
										{{ form_row(form.datosUnidad.direccion) }}
										{{ form_row(form.datosUnidad.detalle) }}
									</div>
								</div>		
							</div>
							<div class="card-footer">
								<button class="btn btn-primary"><i class="fas fa-sync"></i> {{ button_label|default('Guardar y Actualizar') }}</button>
								<a href="{{ path('mantenedores_unidades_index') }}" class="btn btn-secondary">
									<i class="fas fa-arrow-left"></i> Volver
								</a>
							</div>
							{{ form_end(form) }}
						</div>
					</div>
					<div class="col-md-2"></div>
				</div>
				
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /.content -->
	</div>
{% endblock %}
