{% extends 'layout.html.twig' %}

{% block title %}{{parent()}} - Ver Detalle Unidad{% endblock %}

{% block content %}
    <div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0">Ver Detalle Unidad</h1>
					</div>
					<!-- /.col -->
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item">
								<a href="{{ path('dashboard') }}">Dashboard</a>
							</li>
							<li class="breadcrumb-item">
								<a href="{{ path('mantenedores_unidades_index') }}">Unidades</a>
							</li>
							<li class="breadcrumb-item active">Editar Unidad</li>
						</ol>
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /.content-header -->
        <!-- Main content -->
		<div class="content">
			<div class="container-fluid">
                <div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
                        <div class="card card-primary">
							<div class="card-header">
                			    <h3 class="card-title">Detalle Unidad</h3>
              			    </div>
							<table class="table">
                                <tbody>
                                    <tr>
                                        <th>Conjunto o Edificio</th>
                                        <td>{{ unidad.conjunto }}</td>
                                        <th>Piso</th>
                                        <td>{{ unidad.piso }}</td>
                                    </tr>
                                        <th>Unidad</th>
                                        <td>{{ unidad.unidad }}</td>
                                        <th>Estado</th>
                                        <td>{{ unidad.estado ? 'Activo' : 'Inactivo' }}</td>
                                    </tr>
                                    <tr>
                                        <th colspan>Tipo de Unidad</th>
                                        <td colspan='3'>{{unidad.tipoUnidad.nombre}}</td>
                                    </tr>
                                    <tr>
                                        <th colspan='4'>Datos de la Unidad</th>
                                    </tr>
                                    {% if not unidad.datosUnidad %}
                                    <tr>
                                        <th colspan='4'>No hay Datos para mostrar</th>
                                    </tr>
                                    {% else %}
                                        {% for visible in unidad.tipoUnidad.datosVisibles|split(',') %}
                                        <tr>
                                            <th>{{visible|trim|capitalize}}</th>
                                            <td colspan='3'>{{attribute(unidad.datosUnidad, visible|trim)}}</td>
                                        </tr>
                                            
                                        {% endfor %}
                                    {% endif %}
                                    <tr>
                                        <th>Acciones</th>
                                        <td colspan='3'>
                                            <a href="{{ path('mantenedores_unidades_index') }}" class="btn btn-app bg-secondary">
                                                <i class="fas fa-arrow-left"></i> Volver
                                            </a>
                                            <a href="{{ path('unidades_editar', {'id': unidad.id}) }}" class="btn btn-app bg-primary">
                                                <i class="fas fa-edit"></i> Editar
                                            </a>
                                        </td>
                                    </tr>    
                                </tbody>
                            </table>
						</div>                        
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
			<!-- /.container-fluid -->
		</div>
		<!-- /.content -->
    </div>
{% endblock %}
